/* @font-face {
    font-family: "gift arnant";
    src: url("fonts/gift_arnant.ttf") format("truetype");
    font-display: swap;
} */

html {
    font-family: "Inter", sans-serif;
    font-size: 16pt;
}

main {
    margin: 0 auto;
    width: auto;
}

form {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: #424905;
    line-height: 0.5;
    margin-bottom: -0.1em;
}

h2,
h3 {
    text-align: center;
}

.playArea {
    margin: 1em auto 0 auto;
    width: auto;
    border-spacing: 0.15em;
    font-family: 'Fira Code', monospace;
    text-align: center;
    font-size: 150%;
}

.inputBox {
    min-height: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    width: 100%;
    background-color: #ebffde;
    font-family: 'Fira Code', monospace;
    text-align: center;
    font-size: 150%;
}

.gameRow {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.gameCell {
    width: 2em;
    height: 2em;
    padding: 0.1em;
    margin: 0.1em;
    border: 2pt solid black;
    border-radius: 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

.gray {
    background-color: #eeeeee;
    border: none;
}

.yellow {
    background-color: #ffffbb;
    border: 2pt dashed #ff6600;
}

.green {
    background-color: #bbf1ff;
    border: 2pt solid #00ccff;
}

.anchorStart {
    border-top-left-radius: 0.1em;
    border-bottom-left-radius: 0.5em;
    padding-left: 0.5em;
}

.anchorEnd {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.1em;
    padding-right: 0.5em;
}

#alertMessage {
    padding: 0.5em 1em;
    position: fixed;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.information {
    background-color: #bbf1ff;
    border: 1px solid #00ccff;
}

.invalid {
    background-color: #ffcccc;
    border: 1px solid #ff5e00;
}

#resultsScreen,
#helpScreen,
#updateScreen {
    padding: 0.8em 3em;
    padding-bottom: 1.5em;
    position: fixed;
    top: 5vh;
    max-height: 90vh;
    overflow-y: auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d5f7ff;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

#resultsGuessDistrCont {
    margin: 0 auto;
}

th[colspan=row] {
    text-align: left;
}

#resultsGuessDistr td {
    text-align: right;
    width: 10em;
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    background-color: white;
    border: 1px solid #999999;
    border-radius: 0.3em;
}

button#buttonShare,
button#buttonEnter {
    background-color: #008bcc;
    color: white;
}

button#buttonHelp {
    background-color: #cc6d00;
    color: white;
}

form#keyboard {
    margin-top: 0.8em;
}